body {
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: -40px;
  margin-bottom: 10px;
      margin-left: 40%;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}

#log {
  position: relative;
  width : 40%;
 
  height: 800px;
  float: left;
  background: rgba(234, 184, 160, 0.21);
}

#action{
  height: 800px;
  position: relative;
  width: 60%; 
  
  float: left;
  background: rgba(137, 142, 142, 0.28);
}

#action .controls input[type='number']{
  width:40%;
}

#action .controls input[type='text']{
  width:40%;
}

#action .controls{
      position: relative;
    left: 5%;
}

#action .my-panel{
      margin-top: 20px;
    width: 90%;
    margin-left: 5%;
}

#action .my-panel span{
  margin: 5%;
}


